@import '../../_variables';
.my-party-page {
  .container {
    background: transparent;
  }
  .party-member {
    .character-img,
    .character-name,
    .blade-diamond {
      opacity: 0.5;
    }
    &.in-battle {
      .character-img,
      .character-name,
      .blade-diamond {
        opacity: 1;
      }
    }
    .blade-diamond {
      position: relative;
      height: $blade-row-height * 3;
      .party-member-blade {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        &:nth-child(2) {
          top: $blade-row-height / 2 + $blade-diamond-margin;
          left: $blade-row-height / 2 + $blade-diamond-margin;
        }
        &:nth-child(3) {
          top: $blade-row-height + 2 * $blade-diamond-margin;
          left: 0;
        }
        &.hidden-slot {
          /* Hidden slot */
          top: $blade-row-height / 2 + $blade-diamond-margin;
          left: -($blade-row-height / 2);
          opacity: 0.5;
          z-index: 14;
        }
      }
      .blade {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: stretch;

        .blade-name-container {
          margin-left: 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .blade-name {
            font-weight: bold;
            font-style: italic;
          }
        }
        &.free-slot {
          opacity: 0.5;
        }
      }
    }
  }
  .blade-selection {
    .blade-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      .blade-name {
        margin-left: 5px;
      }
    }
  }
  .stat-title {
    font-weight: bold;
    margin-right: 10px;
  }
  .element-img {
    opacity: 0.2;
    height: 32px;
    width: 32px;
    &.active {
      opacity: 1;
    }
  }
  .driver-combo {
    opacity: 0.2;
    &.active {
      opacity: 1;
    }
  }
  .driver-title,
  .active-blade {
    cursor: pointer;
  }
  .blade-item {
    cursor: grab;
  }
  
  .driver-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    .character-img {
      height: $driver-img-size;
      width: $driver-img-size;
      background-size: contain;
    }
    .character-name-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .character-name {
      margin: 0 0 0 5px;
      font-size: 16pt;
      vertical-align: baseline;
    }
    .character-class {
      margin: 0 0 0 5px;
    }
  }
  .filter-toolbar {
    .filter-link {
      cursor: pointer;
      &:hover,
      &.active {
        font-weight: bold;
      }
    }
  }
}
