<div class="my-party-page container-fluid page-container">
  <h3>{{'app.my-party'|translate}}</h3>

  <div class="party-selection container-fluid">
    <div class="party-selector row">

      <div class="party-member col-sm" *ngFor="let partyIdx of partyCnt" [ngClass]="{'in-battle': isInBattle(partyIdx)}">
        <div class="driver-title" *ngIf="this.currentParty && this.currentParty.partyMembers[partyIdx] as partyMember" (click)="onPartyMemberClick(partyMember)">
          <div class="character-img" [attr.title]="'drivers.'+partyMember.driver.id|translate" [ngStyle]="getDriverImgStyle(partyMember)"></div>
          <div class="character-name-container">
            <h3 class="character-name">{{'drivers.'+partyMember.driver.id|translate}}</h3>
            <p class="character-class">
              {{'classes.'+partyMember.classId|translate}}
              <xc2-role-icon *ngFor="let r of partyMember.roles" [role]="r"></xc2-role-icon>
            </p>
          </div>
        </div>
        <div class="party-member-blades" *ngIf="this.currentParty && this.currentParty.partyMembers[partyIdx] as partyMember">
          <div class="blade-diamond">
            <div class="blade-diamond-visible">
              <div class="party-member-blade" *ngFor="let bladeIdx of bladeCnt">

                <div class="blade active-blade" *ngIf="partyMember.blades[bladeIdx] as blade" dndDropzone (dndDrop)="onBladeDropOnCharacterBladeSlot($event, partyMember, blade)"
                  (click)="onCharacterSlotBladeClick($event, partyMember, blade)" [dndDraggable]="{bladeId: blade.id, sourceDriverId: partyMember.driver.id}"
                  (dndStart)="onBladeDragStart($event, blade.id, partyMember.driver.id)">

                  <app-blade-thumbnail [blade]="blade" [showElement]="false"></app-blade-thumbnail>

                  <div class="blade-name-container">
                    <!-- <img class="element-img active" [src]="'assets/xc2/elements/'+blade.element+'.png'" [attr.title]="'elements.'+blade.element|translate"> -->
                    <div class="blade-name">
                      {{'blades.'+blade.id|translate}}</div>
                    <xc2-element-icon [element]="blade.element"></xc2-element-icon>
                    <xc2-role-icon [role]="blade.role"></xc2-role-icon>
                    <xc2-driver-combo-icon *ngFor="let dc of getDriverCombos(blade,partyMember.driver.id)" [driverCombo]="dc"></xc2-driver-combo-icon>
                  </div>

                </div>

                <div class="blade free-slot" *ngIf="!partyMember.blades[bladeIdx]" dndDropzone (dndDrop)="onBladeDropOnCharacterEmptySlot($event, partyMember)">
                  <app-blade-thumbnail [blade]="undefined"></app-blade-thumbnail>
                </div>
              </div>
              <div class="party-member-blade hidden-slot" *ngIf="partyMember.hiddenBlade">
                <div class="blade">
                  <app-blade-thumbnail [blade]="partyMember.hiddenBlade"></app-blade-thumbnail>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stat-modifiers" *ngIf="this.currentParty && this.currentParty.partyMembers[partyIdx] as partyMember">
          <div *ngFor="let m of partyMember.modifiers">
            {{'modifiers.'+m.id|translate}} +{{m.value}}%
          </div>
        </div>

        <div class="class-modifiers" *ngIf="this.currentParty && this.currentParty.partyMembers[partyIdx] as partyMember">
          <div *ngFor="let m of partyMember.classModifiers">
            {{'class-attributes.'+m.id|translate}}
            <i class="fas fa-arrow-up" *ngIf="m.value > 0"></i>
            <i class="fas fa-arrow-up" *ngIf="m.value > 1"></i>
            <i class="fas fa-arrow-up" *ngIf="m.value > 2"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="party-stats container">
      <div class="row" *ngIf="this.currentParty && this.currentParty.errors.length">
        <div class="col-md">
          <h3>{{'my-party.party-issues'|translate}}</h3>
          <ul>
            <li *ngFor="let e of this.currentParty.errors">
              {{e.key|translate:translateParams(e.params)}}
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md" *ngIf="this.currentParty">
          <span class="stat-title">{{'my-party.elements'|translate}} {{this.currentParty.elements.length}} / {{elements.length}}</span>
          <img class="element-img" *ngFor="let e of elements" [src]="'assets/xc2/elements/'+e+'.png'" [attr.title]="'elements.'+e|translate"
            [ngClass]="{'active':this.currentParty.elements.indexOf(e) >= 0}">
        </div>
        <div class="col-md" *ngIf="this.currentParty">
          <span class="stat-title">{{'my-party.driver-combos'|translate}} {{this.currentParty.driverCombos.length}} / {{driverCombos.length}}</span>
          <span class="driver-combo" *ngFor="let dc of driverCombos" [ngClass]="{'active':this.currentParty.driverCombos.indexOf(dc) >= 0}">
            <xc2-driver-combo-icon [driverCombo]="dc"></xc2-driver-combo-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="blade-selection container">
      <h3>{{'my-party.blades'|translate}}</h3>

      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [formControl]="searchFilterControl" [attr.placeholder]="'app.filter-placeholder'|translate"
              [attr.aria-label]="'app.filter-placeholder'|translate">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="filter-toolbar">
            {{'my-party.filter-driver'|translate}}
            <span class="filter-link" (click)="filterDriver()" [ngClass]="{active:!driverFilter}">{{'my-party.filter-driver-all'|translate}}</span>
            <span *ngFor="let d of drivers; let l=last">
              <span>/</span>
              <span class="filter-link" (click)="filterDriver(d)" [ngClass]="{active: driverFilter && driverFilter.id === d.id}">{{'drivers.'+d.id|translate}}</span>
            </span>
          </div>
        </div>
        <div class="col">
          <div class="filter-toolbar">
            {{'app.ordering.label'|translate}}
            <span *ngFor="let o of bladeOrderingTypes; let l=last">
              <span class="filter-link" (click)="orderBy(o)" [ngClass]="{active:o===currentOrder}">{{'app.ordering.'+o|translate}}</span>
              <span *ngIf="!l">/</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 blade-item" *ngFor="let blade of usableBlades" [dndDraggable]="{bladeId: blade.id}" (dndStart)="onBladeDragStart($event, blade.id)">
          <app-blade-thumbnail [blade]="blade" [showElement]="true" [showDriver]="true" [showRole]="true"></app-blade-thumbnail>
          <span class="blade-name">{{'blades.'+blade.id|translate}}</span>
        </div>
      </div>
    </div>
  </div>