$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
$ra-font-path: '../node_modules/rpg-awesome/fonts';

$blade-row-height: 60px;
$driver-img-size: 60px;
$blade-diamond-margin: 10px;
