<div class="row">

  <div class="col-lg-8 col-md-8 col-sm-6 blade-col">
    <app-blade-thumbnail [blade]="blade"></app-blade-thumbnail>
    <span class="blade-name">{{'blades.'+blade.id|translate}}</span>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="btn-group" role="group" aria-label="Blade driver selection" btnRadioGroup [ngModel]="blade.boundDriver">
      <button type="button" role="button" class="btn character-button" *ngFor="let driverId of drivers$ | async" [disabled]="!blade.canChangeBoundDriver"
        [ngClass]="{'btn-success': blade.isFound, 'btn-info': !blade.isFound }" [attr.title]="'drivers.'+driverId|translate"
        [btnRadio]="driverId" (click)="setDriver(blade, driverId)">
        <div class="character-img" [ngStyle]="getButtonStyle(driverId)"></div>
      </button>
    </div>
  </div>

  <div *ngIf="blade.db.element === 'HANA' && blade.isFound" class="col-md-6">
      {{'my-game.hana-element'|translate}}
    <div class="btn-group" role="group" aria-label="Blade element selection" btnRadioGroup [ngModel]="blade.element">
      <button type="button" role="button" class="btn element-button btn-default" *ngFor="let elementId of elements"
        [attr.title]="'elements.'+elementId|translate"
        [btnRadio]="elementId" (click)="setElement(blade, elementId)">
        <div class="element-img" [ngStyle]="getElementBgStyle(elementId)"></div>
      </button>
    </div>
  </div>

  <div *ngIf="blade.weaponClass.role === 'HANA' && blade.isFound" class="col-md-6">
      {{'my-game.hana-role'|translate}}
    <div class="btn-group" role="group" aria-label="Blade role selection" btnRadioGroup [ngModel]="blade.role">
      <button type="button" role="button" class="btn role-button" *ngFor="let roleId of roles"
        [attr.title]="'roles.'+roleId|translate"
        [btnRadio]="roleId" (click)="setRole(blade, roleId)">
        <div class="role-img" [ngStyle]="getRoleBgStyle(roleId)">{{roleId}}</div>
      </button>
    </div>
  </div>
</div>